nav a{
    color: red;
}
.Swood {
    color: blue;
    border-style: groove;
    border-width: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: -10px;
}
p2 {
    
}
.Text {
    color: green;
}
.img{ 
    width: 350px;
    height: auto;
}

body{
    font-family: "Curior Regular", Curior, monospace;   
}
p1 {
    
}
.Background  {
    
}
#btn {
     font-size: 40px;
     
}

#btn:active  {
     font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    
}
body:hover{
    cursor: crosshair;
     background-image: url('http://1.bp.blogspot.com/-xtPQR9FeNXA/T6e9AqN5lCI/AAAAAAAAATo/O47YINKLUsI/s1600/cool+Fire+dragon+element+Galaxy-Wallpaper.jpg'); 
}
body:active{
    cursor: wait;
    border-style: ridge;
    border-color: red;
    background-image: url('http://cdn3.howtogeek.com/wp-content/uploads/gg/up/sshot4fb3f14e98ddd.jpg');
    
}
#alert {
  display: none;
}

#alert:target {
  display: block;
  background-color: red;
  border-style: double;
}
 body:hover .textt{
 color: gold;
}
 body:active .textt{
    color:red;
}
body{
    background-image: url('http://big.assets.huffingtonpost.com/slide_297900_2460087_free.gif');
    background-size: cover;
}